In [3]:
S1 = ([1, 2, 3, 4, 5, 6])
S2 = ([3, 4, 5, 6])
S3 = S1.copy()
print(S3)

[1, 2, 3, 4, 5, 6]

In [5]:
S1 = {1, 2, 3, 9, 8}
S2 = {9, 3, 4, 6, 7}
print (S1.difference(S2))
print (S2.difference(S1))

{8, 1, 2}
{4, 6, 7}

In [6]:
S1 = {3, 4, 5}
S2 = {3, 4}
print(S1.intersection(S2))

{3, 4}

In [7]:
S1 = {20, 40, 50, 60}
S2 = {40, 60, 70, 80}

print("S1 U S2:", S1.union(S2))

S1 U S2: {70, 40, 80, 50, 20, 60}

In [9]:
S1 = {1, 2, 4, 3}
S2 = {1, 0, 4, 6, 3, 5, 2, 5}

print("S1.issuperset(S2) : ", S1.issuperset(S2))
print("S2.issuperset(S1) : ", S2.issuperset(S1))

S1.issuperset(S2) :  False
S2.issuperset(S1) :  True

In [10]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5}
print(S2.issubset(S1))

True

In [11]:
S1 = {1, 2, 3}
S2 = {4, 5, 6}
print(S1.isdisjoint(S2))

True

In [14]:
list1 = [1, 2, 3, 4]
list2 = [2, 3, 5, 6]
list3 = [3, 4, 5, 6]
set1 = set(list1)
set2 = set(list2)
print(set1.symmetric_difference(set2))

{1, 4, 5, 6}

In [17]:
list1 = [1, 2, 3, 4 ]
list2 = [2, 3, 4, 5]
list3 = [3, 4, 5, 6]
set1 = set(list1)
set2 = set(list2)
print(set2.symmetric_difference(list3))

{2, 6}